<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="alert"></div>
    <form id="link-form" method="POST" action="/links/">
      <label for="link-url">Url</label>
      <input id="link-url" type="text" name="url" />
      <br />
      <label for="link-title">Title</label>
      <input id="link-title" type="text" name="title" />
      <br />
      <label for="link-description">Description</label>
      <input id="link-description" type="text" name="description" />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
  <script>
    // clear form
    function clearForm () {
      document.getElementById("link-url").value = ""
      document.getElementById("link-title").value = ""
      document.getElementById("link-description").value = ""
    }

    // on form submit
    document.getElementById("link-form").addEventListener("submit", function(event) {
      event.preventDefault();

      console.log("on submit form");
      var link = {
        url: document.getElementById("link-url").value || null,
        title: document.getElementById("link-title").value || null,
        description: document.getElementById("link-description").value || null,
      }

      // ajax
      var xhr = new XMLHttpRequest();

      xhr.open('POST', '/links/');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        if (xhr.status === 200) {
          // success
          console.log("success");
          console.log(xhr.responseText);
          document.getElementById("alert").innerHTML = "<p>Success! Here's your shortened link.</p><h2>http://phys.ly/" + JSON.parse(xhr.responseText).slug + "</h2>"
          clearForm()
        }
        else {
          // failure
          document.getElementById("alert").innerHTML = "<p>Oops! Something went wrong.</p>"
          console.log("failure");
          console.log(xhr.status);
        }
      };
      // send ajax
      xhr.send(JSON.stringify(link));
    })
  </script>
</html>
