<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      UPLOADCARE_LOCALE = "en";
      UPLOADCARE_TABS = "file url";
      UPLOADCARE_PUBLIC_KEY = "0661a497f981abbf29eb";
    </script>
    <script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <%- include _navbar.ejs %>
      <div class="row">
        <div class="col-12">
          <form id="link-form" method="POST" action="/links/">
            <div class="hero row">
              <div class="col-12">
                <h2 class="site-title">Url Shortener for the Physical Web</h2>
              </div>
              <div class="col-12 col-sm-10">
                <input id="link-url" class="form-control" type="text" name="url" placeholder="Your original URL here. example: https://example.com" />
                <p>Shorten your URLs to ensure they work with Eddystone beacons.</p>
              </div>
              <div class="col-12 col-sm-2">
                <input class="btn btn-secondary" type="submit" value="Submit" />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div id="error-wrapper" class=" hidden">
                  <p id="error-text" class="text-center"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div id="short-url-wrapper" class="hidden">
                  <h1 id="short-url" class="text-center"></h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-4">
                <br />
                <h2 class="preview-title">Notification Text</h2>
                <label for="link-title">Title</label>
                <input id="link-title" class="form-control" type="text" name="title" placeholder="example: Wikipedia" />
                <br />
                <label for="link-description">Description</label>
                <input id="link-description" class="form-control" type="text" name="description" placeholder="example: The world encyclopedia" />
                <br />
                <label>Icon</label>
                <br />
                <input id="link-favicon" type="hidden" role="uploadcare-uploader" data-crop="1:1" data-images-only="true" />
              </div>
              <div class="col-12 col-sm-4">
                <br />
                <h2 class="preview-title">Notification Preview</h2>

                <div class="row notification">
                  <div class="col-12">
                    <div class="notification-title">Android</div>
                    <div class="android-notification-screen">
                      <div class="android-notification">
                        <img class="favicon" src="https://placehold.it/55x55" data-size="55" />
                        <div class="title">Wikipedia</div>
                        <div class="description">The world encyclopedia</div>
                        <div class="time">10:27</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row notification">
                  <div class="col-12">
                    <div class="notification-title">Android</div>
                    <div class="nearby-notification-screen">
                      <div class="screen-title">Nearby Beacons</div>
                      <br />
                      <div class="nearby-notification">
                        <div class="title">Wikipedia</div>
                        <div class="link"><a href="#">https://phys.ly/ex1234</a></div>
                        <div class="description">The world encyclopedia</div>
                        <img class="favicon" src="https://placehold.it/30x30" data-size="30" />
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-12 col-sm-4">
                <br />
                <h2 class="preview-title">Web Preview</h2>
                <div class="ios-device iphone-6--large">
                  <div id="mobilePreviewContainer" class="ios-device__screen">
                    <iframe id="mobilePreviewFrame" frameborder="0" height="500" width="289"></iframe>
                  </div>
                  <div class="ios-device__volumes"></div>
                  <div class="ios-device__button"></div>
                  <div class="ios-device__camera"></div>
                </div>
              </div>
            </div>
          </form>
          <div id="alert"></div>
        </div>
      </div>
    </div>

    <script>
      // When image changes, update live preview.
      var widget = uploadcare.Widget('[role=uploadcare-uploader]');
      widget.onChange(function(file) {
        if (file) {
          file.done(function(fileInfo) {
            console.log(document.getElementById("link-favicon").value)
            updateNotificationFavicons()
          });
        } else {

        }
      });

      function validateURL(url) {
        var urlregex = /^(https?):\/\/([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)*((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}|([a-zA-Z0-9-]+\.)*[a-zA-Z0-9-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(:[0-9]+)*(\/($|[a-zA-Z0-9.,?'\\+&%$#=~_-]+))*$/;
         return urlregex.test(url);
      }

      function validateHttps(url) {
        if (url.slice(0,5) === "https") {
          return true;
        } else if (url.slice(0,4) === "http") {
          return false;
        } else {
          return null;
        }
      }
      // clear form
      function clearForm () {
        document.getElementById("link-url").value = "";
        document.getElementById("link-title").value = "";
        document.getElementById("link-description").value = "";
      }

      function setIframe(url) {
        document.getElementById("mobilePreviewFrame").setAttribute("src", url);
      }

      var updateNotificationFavicons = function () {
        var uploadcareUrl = document.getElementById("link-favicon").value
        var size;
        Array.prototype.forEach.call(document.getElementsByClassName("favicon"), function(icon) {
          size = icon.getAttribute("data-size")
          icon.setAttribute("src", uploadcareUrl + "-/resize/" + size + "x" + size + "/" || "https://placehold.it/55x55");
        });
      }

      var updateNotificationTitles = function(event) {
        console.log("updateNotifications");
        // console.log(event.target.value)
        Array.prototype.forEach.call(document.getElementsByClassName("title"), function(title) {
          title.innerHTML = event.target.value || "Wikipedia";
        });
      }

      var updateNotificationDescriptions = function(event) {
        Array.prototype.forEach.call(document.getElementsByClassName("description"), function(description) {
          description.innerHTML = event.target.value || "The world encyclopedia";
        });
      }

      var updateIframeUrl = function(event) {
        console.log("updateIframeUrl");
        if (event.target.value.match(/^http:\/\//)) {
          console.log("http url")
          document.getElementById("error-text").innerHTML = "Please <a class=\"btn btn-outline-secondary btn-sm\" href=\"\">Subscribe</a> to shorten insecure urls (http). <a class=\"btn btn-link btn-link-inline\" href=\"\">Find out why</a>"
          document.getElementById("error-wrapper").className = document.getElementById("error-wrapper").className.replace(" hidden", "")
        } else {
          if (!document.getElementById("error-wrapper").className.match(/ hidden/)) {
            document.getElementById("error-wrapper").className += " hidden"
          }
        }
        var url = event.target.value;
        if (validateURL(url)) {
          setIframe(url);
        }
      }

      document.getElementById("link-url").addEventListener("keyup", updateIframeUrl);
      document.getElementById("link-title").addEventListener("keyup", updateNotificationTitles);
      document.getElementById("link-description").addEventListener("keyup", updateNotificationDescriptions);

      // on form submit
      document.getElementById("link-form").addEventListener("submit", function(event) {
        event.preventDefault();

        console.log("on submit form");
        var link = {
          url: document.getElementById("link-url").value || null,
          title: document.getElementById("link-title").value || null,
          description: document.getElementById("link-description").value || null,
          favicon: document.getElementById("link-favicon").value || null
        };

        // ajax
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/links/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
          if (xhr.status === 200) {
            // success
            console.log("success");
            console.log(xhr.responseText);
            document.getElementById("alert").innerHTML = "<p>Success! Here's your shortened link.</p><h2>https://phys.ly/" + JSON.parse(xhr.responseText).slug + "</h2>";
            setIframe(JSON.parse(xhr.responseText).url);
            document.getElementById("short-url-wrapper").className = ""
            document.getElementById("short-url").innerHTML = window.location.href + JSON.parse(xhr.responseText).slug
            clearForm();
          }
          else {
            // failure
            document.getElementById("alert").innerHTML = "<p>Oops! Something went wrong.</p>"
            console.log("failure");
            console.log(xhr.status);
          }
        };
        // send ajax
        xhr.send(JSON.stringify(link));
      })
    </script>
  </body>
</html>
