<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      UPLOADCARE_LOCALE = "en";
      UPLOADCARE_TABS = "file url";
      UPLOADCARE_PUBLIC_KEY = "0661a497f981abbf29eb";
    </script>
    <script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="brand-header">
            <h1 class="brand-name">Physly</h1>
            <svg class="brand-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297.02 278.12"><title>Physly Logo</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M170.38,135.79A25.09,25.09,0,0,0,155,124a25.4,25.4,0,0,0-6.14-.87,25.26,25.26,0,1,0,21.47,12.63Z"/><path d="M121.2,117.27a41.87,41.87,0,0,1,6.61-4.72,41.45,41.45,0,0,1,48,4.72l49.9-86.43a8.08,8.08,0,0,0-3-11,149,149,0,0,0-148.5,0,8.08,8.08,0,0,0-3,11Z"/><path d="M294.66,142.71a7.88,7.88,0,0,0-5.72-2.37H189.12a41.42,41.42,0,0,1-27.3,47.3l49.89,86.42a8.08,8.08,0,0,0,11,3A149,149,0,0,0,297,148.43,8.07,8.07,0,0,0,294.66,142.71Z"/><path d="M112.64,169.13a41.1,41.1,0,0,1-4.74-28.79H8.08A8.08,8.08,0,0,0,0,148.41,148.64,148.64,0,0,0,74.26,277a8.08,8.08,0,0,0,11-3l49.91-86.45A41.11,41.11,0,0,1,112.64,169.13Z"/></g></g></svg>
          </div>
        </div>
        <div class="col-12">
          <form id="link-form" method="POST" action="/links/">
            <div class="hero row">
              <div class="col-12">
                <h2 class="site-title">Url Shortener for the Physical Web</h2>
              </div>
              <div class="col-12 col-sm-10">
                <input id="link-url" class="form-control" type="text" name="url" placeholder="Your original URL here" />
                <p>Shorten your URLs to ensure they work with Eddystone beacons.</p>
              </div>
              <div class="col-12 col-sm-2">
                <input class="btn btn-secondary" type="submit" value="Submit" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-4">
                <br />
                <h2 class="preview-title">Notification Text</h2>
                <label for="link-title">Title</label>
                <input id="link-title" class="form-control" type="text" name="title" placeholder="example: Statue of Liberty" />
                <br />
                <label for="link-description">Description</label>
                <input id="link-description" class="form-control" type="text" name="description" placeholder="Top 10 facts about the Statue of Liberty" />
                <br />
                <label>Icon</label>
                <br />
                <input type="hidden" role="uploadcare-uploader" data-crop="55x55" data-images-only="true" />
              </div>
              <div class="col-12 col-sm-4">
                <br />
                <h2 class="preview-title">Notification Preview</h2>

                <div class="row notification">
                  <div class="col-12">
                    <div class="notification-title">Android</div>
                    <div class="android-notification-screen">
                      <div class="android-notification">
                        <img class="favicon" src="http://placehold.it/55x55" />
                        <div class="title">Wikipedia</div>
                        <div class="description">The world encyclopedia</div>
                        <div class="time">10:27</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row notification">
                  <div class="col-12">
                    <div class="notification-title">Android</div>
                    <div class="nearby-notification-screen">
                      <div class="screen-title">Nearby Beacons</div>
                      <br />
                      <div class="nearby-notification">
                        <div class="title">Wikipedia</div>
                        <div class="link"><a href="#">https://phys.ly/123456</a></div>
                        <div class="description">The world encyclopedia</div>
                        <img class="favicon" src="http://placehold.it/30x30" />
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-12 col-sm-4">
                <br />
                <h2 class="preview-title">Web Preview</h2>
                <div class="ios-device iphone-6--large">
                  <div id="mobilePreviewContainer" class="ios-device__screen"><iframe id="mobilePreviewFrame" frameborder="0" height="500" width="289"></iframe></div>
                  <div class="ios-device__volumes"></div>
                  <div class="ios-device__button"></div>
                  <div class="ios-device__camera"></div>
                </div>
              </div>
            </div>
          </form>
          <div id="alert"></div>
        </div>
      </div>
    </div>

    <script>

      function validateURL(url) {
        var urlregex = /^(https?):\/\/([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)*((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}|([a-zA-Z0-9-]+\.)*[a-zA-Z0-9-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(:[0-9]+)*(\/($|[a-zA-Z0-9.,?'\\+&%$#=~_-]+))*$/;
         return urlregex.test(url);
      }

      function validateHttps(url) {
        if (url.slice(0,5) === "https") {
          return true;
        } else if (url.slice(0,4) === "http") {
          return false;
        } else {
          return null;
        }
      }
      // clear form
      function clearForm () {
        document.getElementById("link-url").value = "";
        document.getElementById("link-title").value = "";
        document.getElementById("link-description").value = "";
      }

      function setIframe(url) {
        document.getElementById("mobilePreviewFrame").setAttribute("src", url);
      }

      var updateNotificationTitles = function(event) {
        console.log("updateNotifications");
        // console.log(event.target.value)
        Array.prototype.forEach.call(document.getElementsByClassName("title"), function(title) {
          title.innerHTML = event.target.value || "Wikipedia";
        });
      }

      var updateNotificationDescriptions = function(event) {
        Array.prototype.forEach.call(document.getElementsByClassName("description"), function(description) {
          description.innerHTML = event.target.value || "The world encyclopedia";
        });
      }

      var updateIframeUrl = function(event) {
        console.log("updateIframeUrl");
        var url = event.target.value;
        if (validateURL(url)) {
          setIframe(url);
        }
      }

      document.getElementById("link-url").addEventListener("keyup", updateIframeUrl);
      document.getElementById("link-title").addEventListener("keyup", updateNotificationTitles);
      document.getElementById("link-description").addEventListener("keyup", updateNotificationDescriptions);

      // on form submit
      document.getElementById("link-form").addEventListener("submit", function(event) {
        event.preventDefault();

        console.log("on submit form");
        var link = {
          url: document.getElementById("link-url").value || null,
          title: document.getElementById("link-title").value || null,
          description: document.getElementById("link-description").value || null,
        };

        // ajax
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/links/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
          if (xhr.status === 200) {
            // success
            console.log("success");
            console.log(xhr.responseText);
            document.getElementById("alert").innerHTML = "<p>Success! Here's your shortened link.</p><h2>http://phys.ly/" + JSON.parse(xhr.responseText).slug + "</h2>";
            setIframe(JSON.parse(xhr.responseText).url);
            clearForm();
          }
          else {
            // failure
            document.getElementById("alert").innerHTML = "<p>Oops! Something went wrong.</p>"
            console.log("failure");
            console.log(xhr.status);
          }
        };
        // send ajax
        xhr.send(JSON.stringify(link));
      })
    </script>
  </body>
</html>
